/* RESET DO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*background: linear-gradient(to left, rgb(164, 222, 255), rgb(51, 145, 199));
    */
    background-color: #62c3e3;
    font-family: 'Jost', sans-serif;
    height: 100vh;
    font-size: 12px;
}

/* se a tela tiver pelo menos 400 pixels, vai carregar esses estilos */
@media (min-width: 400px){
    body{
        font-size: 14px;
    }
}

@media (min-width: 600px){
    body{
        font-size: 18px;
    }
}

@media (min-width: 560px){
    .portfolio .grid{
        grid-template-columns: 240px 240px;
        justify-content: center;
    }
}

@media (min-width: 880px){
    .portfolio .grid{
        grid-template-columns: repeat(3, 240px);
        justify-content: center;
    }
}

@media (min-width: 1200px){
    .portfolio .grid{
        justify-content: center;
        grid-template-columns: 240px 240px;    
        height: calc(100vh - 8em - 48px);
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    transform: translateX(-10vh);
    opacity: 0;
    animation: ease-out 850ms animaTitulo forwards;
}

@keyframes animaTitulo{
    from{
        transform: translateX(-10vh);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


a{
    text-decoration: none;
}
.menu{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}
.menu a{
    color: rgb(64, 131, 255);
    display: block;
    padding: 10px 20px;
    transition: 0.3s;
}

.menu a:hover{
    color: rgb(8, 51, 129);
}

.site-title, .site-subtitle{
    text-align: center;
    color: whitesmoke;
}

.site-title{
    font-size: 4em;
    font-family: 'Courgette', cursive;
}

.site-subtitle{
    font-style: italic;
    font-family: 'PT Mono', monospace;
}

.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.portfolio{
    background-color: #f0f3bd;
}
.contato, .portfolio{
    min-height: 100vh;
    padding: 5em;
}

.contato h2, .portfolio h2{
    font-size: 2em;
    margin-bottom: 1.2em;
    font-weight: 200;
}

.portfolio .grid{
    display: grid;
    gap: 2em;
}

.portfolio figure{
    text-align: center;
}

.img-portfolio{
    border-radius: 2em;
    width: 240px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    transition: transform 300ms;
}

.img-portfolio:hover{
    transform: scale(1.1)
}

.contato a{
    color: whitesmoke;
    font-size: 5em; 
    text-align: center;
    transition: text-shadow 0.5s;
}

.contato a:hover{
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
}